.nav-buttons-container
{
    text-align: center;
    margin-top: 35px;
}

.nav-buttons-container a
{
    border: 3px solid;
    padding: 20px;
    text-decoration: none;
    margin-right: 10px;
}

.submit
{
    text-align: center;
}

.submit input[type="submit"]
{
    background: white !important;
    border: 3px solid black !important;
    color: black !important;
    padding: 20px !important;
    border-radius: 0px !important;
    cursor: pointer !important;
}

form
{
    width: 100%;
}